<?php
$title = 'Редагувати дані викладача';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<?php
/** @var $form \Zend\Form\Form */
$form->setAttribute('action', $this->url('user', array('action' => 'edit', 'id' => $id)));
$form->prepare();
?>
<?php echo $this->form()->openTag($form); ?>
<?php echo $this->formHidden($form->get('id')); ?>
<div class="form-group">
    <?php echo $this->formRow($form->get('secondname')); ?>
</div>
<div class="form-group">
    <?php echo $this->formRow($form->get('firstname')); ?>
</div>
<div class="form-group">
    <?php echo $this->formRow($form->get('lastname')); ?>
</div>
<div class="form-group">
    <label><span>Виберіть каферду або підрозділ</span>
        <select name="department_id" id="department" class="form-control select2 col-sm-3">
            <?php /** @var $departments array */ ?>
            <?php foreach ($departments as $root) : ?>
                <?php if (isset($root['title'])) : ?>
                    <?php foreach ($root['children'] as $faculty) : ?>
                        <?php if (isset($faculty['children'])) : ?>
                            <optgroup label="<?php echo $faculty['title']; ?>">
                                <?php foreach ($faculty['children'] as $dep) : ?>
                                    <option value="<?php echo $dep['id']; ?>">
                                        <?php echo $dep['title']; ?>
                                    </option>
                                <?php endforeach; ?>
                            </optgroup>
                        <?php else : ?>
                            <option value="<?php echo $faculty['id']; ?>">
                                <?php echo $faculty['title']; ?>
                            </option>
                        <?php endif; ?>
                    <?php endforeach; ?>
                <?php endif; ?>
            <?php endforeach; ?>
        </select>
    </label>
</div>

<div class="form-group">
    <?php echo $this->formSubmit($form->get('submit')); ?>
</div>

<?php /** @var $department_id int */ ?>
<?php echo $this->form()->closeTag(); ?>
<script type="text/javascript">
    $('#department option[value="<?php echo $department_id ?>"]').prop('selected', true);
</script>
