<?php
$title = 'Викладачі';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<p>
    <a href="<?php echo $this->url('user', array('action'=>'add'));?>">Додати викладача</a>
</p>

<table class="table">
    <tr>
        <th>Прізвище</th>
        <th>Ім'я</th>
        <th>По-батькові</th>
        <th>Кафедра</th>
        <th>Дії</th>
    </tr>
    <?php /** @var $person \User\Model\Person */ ?>
    <?php /** @var $persons */ ?>
    <?php foreach ($persons as $person) : ?>
        <tr>
            <td><?php echo $this->escapeHtml($person['secondname']);?></td>
            <td><?php echo $this->escapeHtml($person['firstname']);?></td>
            <td><?php echo $this->escapeHtml($person['lastname']);?></td>
            <td><?php echo $this->escapeHtml($person['title']);?></td>
            <td>
                <a class="btn btn-info <?php
                if (\User\Model\Person::STATUS_CLOSED === $person['status']) :
                    echo 'disabled';
                endif; ?>"
                   href="<?php echo $this->url('form', array('action'=>'index', 'id' => $person['id']));?>">
                    Заповнити форму
                </a>
                <a class="btn btn-info" href="<?php echo $this->url('user',
                    array('action'=>'edit', 'id' => $person['id']));?>">Змінити</a>
                <a class="btn btn-info" href="<?php echo $this->url('user',
                    array('action'=>'delete', 'id' => $person['id']));?>">Видалити</a>
            </td>
        </tr>
    <?php endforeach; ?>
</table>
