<?php
/** @var \Zend\View\Renderer\PhpRenderer $this */
/** @var User\Form\UserLoginForm $form */
$form = $this->form;
$form->setAttribute(
    'action', $this->url(
    'login/process',
    array(
        'action' => 'authenticate',
    )
)
); ?>

    <h1>Вхід в панель керування</h1>
<?php
$form->prepare();
echo $this->form()->openTag($form); ?>

    <div class="form-group">
        <?php echo $this->formRow($form->get('login')); ?>
    </div>
    <div class="form-group">
        <?php echo $this->formRow($form->get('password')); ?>
    </div>
    <div class="form-group">
        <a href="<?php echo $this->url('user', array('action' => 'register')) ?>">Зареєструватись</a>
    </div>
    <div class="form-group">
        <?php echo $this->formRow($form->get('submit')); ?>
    </div>

<?php
if ($this->messages) {
    echo '<ul>';
    foreach ($this->messages as $message) {
        echo '<li>' . $message . '</li>';
    }
    echo '</ul>';
}
