<?php
$form = $this->form;
$form->setAttribute(
    'action', $this->url(
    'user',
    array(
        'action' => 'registration',
    )
)
); ?>

<h1>Реєстрація нового користувача</h1>
<?php
$form->prepare();
echo $this->form()->openTag($form); ?>

<div class="col-lg-12">
    <div class="form-group">
        <?php echo $this->formRow($form->get('login')); ?>
    </div>
    <div class="form-group">
        <?php echo $this->formRow($form->get('email')); ?>
    </div>
    <div class="form-group">
        <?php echo $this->formRow($form->get('password')); ?>
    </div>
    <div class="form-group">
        <?php echo $this->formRow($form->get('confirm_password')); ?>
    </div>
    <div class="form-group">
        <label><span>Виберіть каферду або підрозділ</span>
            <select name="preset_dep_id" id="department" class="form-control select2 col-sm-3">
                <?php /** @var $departments array */ ?>
                <?php foreach ($departments as $root) : ?>
                        <?php if (isset($root['title'])) : ?>
                            <?php foreach ($root['children'] as $faculty) : ?>
                                <optgroup label="<?php echo $faculty['title']; ?>">
                                    <?php if (isset($faculty['children'])) : ?>
                                        <?php foreach ($faculty['children'] as $dep) : ?>
                                            <option value="<?php echo $dep['id']; ?>">
                                                <?php echo $dep['title']; ?>
                                            </option>
                                        <?php endforeach; ?>
                                    <?php endif; ?>
                                </optgroup>
                            <?php endforeach; ?>
                        <?php endif; ?>
                <?php endforeach; ?>
            </select>
        </label>
    </div>
    <div class="form-group">
        <?php echo $this->formRow($form->get('submit')); ?>
    </div>
</div>
<?php
if ($this->messages) {
    echo '<ul>';
    foreach ($this->messages as $message) {
        echo '<li>' . $message . '</li>';
    }
    echo '</ul>';
}
