<?php
/** @var \Zend\Form\Form $form */
/** @var \Zend\View\Renderer\PhpRenderer $this */
$form = $this->form;
/** @var $id int */
$form->setAttribute(
    'action',
    $this->url(
        'form',
        array('action' => 'submit', 'id' => $id)
    )
);

if (\User\Model\Person::STATUS_CLOSED === $form->getStatus()) : ?>
    <script type="text/javascript">
        alert('Ця форма закрита для редагування.');
        window.location.href = "<?php echo $this->url('user') ?>";
    </script>
<?php else : ?>

<?php
echo $this->form()->openTag($form);
$form->prepare();
/** @var Zend\Form\Element\ $element */
    foreach ($form->getElements() as $element) {
    if (0 === strpos($element->getName(), 'section_')) {
        echo '<h2>' . $element->getLabel() . '</h2>';
    } else {
        echo $this->formRow($element);
        echo '</br>';
    }
}
echo $this->form()->closeTag(); ?>
<br />
<a onclick="confirm('Після цьої дії ви більше не зможете редагувати форму. Кінцевий результат буде збережений в базу данних.')"
   class="btn btn-danger"
   href="<?php echo $this->url('form', array('action' => 'close', 'id' => $id)); ?>">
    Закрити для редагування
</a>
<?php endif; ?>
